<ion-header>
  <ion-navbar no-border-bottom>
  <ion-title>List of Taxis in the City </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="home" padding>
  <ion-card>
  <ion-card-header>
    Available Taxi
  </ion-card-header>
  <ion-searchbar (ionInput)="getItems($event)">
  </ion-searchbar>
  <ion-list>
  <ion-item *ngFor="let taxi of taxiList" (click)="doChat(taxi)">
     <ion-avatar item-left>
      <img src= {{taxi.image}}>
    </ion-avatar>
      <h2>Driver Name : {{taxi.name}}</h2>
      <h3> City : {{taxi.city}}</h3>
      <p>Distance : {{taxi.distance}}</p>
      <ion-icon name="arrow-forward" item-right></ion-icon>
  </ion-item>
  </ion-list>
  </ion-card>
</ion-content>