<ion-header>
  <ion-navbar color="whatsapp" class="messages-page-navbar">
    <ion-title class="chat-title"> Message to {{ToChatData.name}} </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="messages-page-content">
  <ion-scroll scrollY="true" class="messages">
    <div *ngFor="let message of messages" class="message-wrapper">
      <div *ngIf="message.from == Device.uuid">
      <div class="message message-mine">
      <div class="message-content">{{message.message}}</div>
    </div>
    </div>
    <div *ngIf="message.from != Device.uuid">
      <div class="message message-other">
        <div class="message-content">{{message.message}}</div>
      </div>
    </div>
    </div>
  </ion-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="chatMessage" type="text" placeholder="enter message..."></ion-input>
    <button ion-button icon-only (click)="sendMessage()" style="position:absolute; right: 0; top: 0; margin: 0;"><ion-icon name="chatbubbles"></ion-icon></button>
  </ion-toolbar>
</ion-footer>